Project Pertama - Game Pong - Agate/Library/* 
Project Pertama - Game Pong - Agate/Logs/* 
Project Pertama - Game Pong - Agate/Temp/* 
Project Pertama - Game Pong - Agate/.vs/* 
Project Pertama - Game Pong - Agate/obj/* 
 
Project Pertama - Game Pong - Agate/.vsconfig 
Project Pertama - Game Pong - Agate/*.sln 
Project Pertama - Game Pong - Agate/*.csproj 
